<header class="header">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbar">
      <a class="navbar-brand" href="#"><img src="assets/img/logo.svg"></a>

      <ul class="navbar-nav d-flex justify-content-around w-50">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tarifs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <section *ngIf="!this.user">
        <a class="btn btn-lg btn-outline-danger my-2 my-sm-0" routerLink="/login">Se connecter</a>
        <a class="btn btn-lg btn-link my-2 my-sm-0" routerLink="/register">S'enregistrer</a>
      </section>
      <section *ngIf="this.user">
        <a class="btn btn-lg btn-outline-danger my-2 my-sm-0" routerLink="/dashboard">Dashboard</a>
        <a class="btn btn-lg btn-link text-secondary my-2 my-sm-0" routerLink="/logout">Se déconnecter</a>
      </section>
    </div>
  </nav>
</header>
