<footer class="p-5 d-flex justify-content-around">
  <h3>Ferrysail</h3>
  <article>
    <div class="d-flex">
    <p><a class="unstyled link-secondary p-5" href="#">mentions légales</a></p>
    <p><a class="unstyled link-secondary p-5" href="#">politique de confidentialité</a></p>
  </div>
    <p class="p-5">Copyright © 2022 Ferrysail. Tous droits réservés</p>
  </article>  
  <ul class="d-flex flex-column w-25">
    <h3 class="pb-3 text-uppercase fs-5 text-danger">contact</h3>
    <div class="d-flex pb-3">
      <li class="list-unstyled col"><a href="#"><img src="assets/img/social-media/facebook.svg"></a></li>
      <li class="list-unstyled col"><a href="#"><img src="assets/img/social-media/instagram.svg"></a></li>
      <li class="list-unstyled col"><a href="#"><img src="assets/img/social-media/linkedin.svg"></a></li>
    </div>
  </ul>
</footer>