<div class="row">
    <div class="d-flex flex-row justify-content-between align-items-center p-5 pb-0 rounded-3 w-100">
        <figure class="d-flex flex-row h-100 gap-3">
            <img class="h-25 align-self-center" src="../../../assets/img/boat.png" alt="Bateau" />

            <figcaption>
                <h4 class="fs-4 text-secondary">Trajets effectués</h4>

                <p class="fs-3 fw-bold">{{tripNumber}}</p>

                <p class="fs-6">ce mois-ci</p>
            </figcaption>
        </figure>
        <figure class="d-flex flex-row h-100 gap-3">
            <img class="h-25 align-self-center" src="../../../assets/img/calendar.png" alt="Bateau" />

            <figcaption>
                <h4 class="fs-4 text-secondary">Prochain trajet</h4>

                <p class="fs-3 fw-bold">{{nextTripDate}}</p>

                <p class="fs-6">semaine 04</p>
            </figcaption>
        </figure>
        <figure class="d-flex flex-row h-100 gap-3">
            <img class="h-25 align-self-center" src="../../../assets/img/colis.png" alt="Bateau" />

            <figcaption>
                <h4 class="fs-4 text-secondary">Total marchandises</h4>

                <p class="fs-3 fw-bold">{{totalWeight}} kg</p>

                <p class="fs-6">ce mois-ci</p>
            </figcaption>
        </figure>
        <figure class="d-flex flex-row h-100 gap-3">
            <img class="h-25 align-self-center" src="../../../assets/img/leaf.png" alt="Bateau" />

            <figcaption>
                <h4 class="fs-4 text-secondary">CO2 évité</h4>

                <p class="fs-3 fw-bold">2 tonnes</p>

                <p class="fs-6">ce mois-ci</p>
            </figcaption>
        </figure>
    </div>
</div>