<div class="row">
    <div class="col-12 col-md-3 d-flex">
        <img class="d-block m-auto" src="assets/img/dashboard-boat.png" alt="">
        <div class="dashboard-content__stats">
            <p class="dashboard-content__stat-name">Trajets effectués</p>
            <p class="dashboard-content__stat-num">{{tripNumber}}</p>
        </div>
    </div>
    <div class="col-12 col-md-3 d-flex">
        <img class="d-block m-auto" src="assets/img/dashboard-date.png" alt="">
        <div class="dashboard-content__stats">
            <p class="dashboard-content__stat-name">Prochain Trajet</p>
            <p class="dashboard-content__stat-num">{{nextTripDate | date}}</p>
        </div>
    </div>
    <div class="col-12 col-md-3 d-flex">
        <img class="d-block m-auto" src="assets/img/dashboard-stuff.png" alt="">
        <div class="dashboard-content__stats">
            <p class="dashboard-content__stat-name">Total marchandise</p>
            <p class="dashboard-content__stat-num">{{totalWeight}}</p>
        </div>
    </div>
    <div class="col-12 col-md-3 d-flex">
        <img class="d-block m-auto" src="assets/img/dashboard-eco.png" alt="">
        <div class="dashboard-content__stats">
            <p class="dashboard-content__stat-name">Co2 Economisé</p>
            <p class="dashboard-content__stat-num">2 Tonnes</p>
        </div>
    </div>
</div>