<app-header></app-header>
<main>
  <!-- Home -->
  <section id="accueil" class="bg-light p-5 d-flex justify-content-between">
    <article class="pl-5 pt-5 mt-5 d-flex flex-column">
      <h3 class="text-danger text-uppercase mb-5 fs-5">Transport</h3>
      <h2 class="fs-1 mb-5">Ferrysail</h2>
      <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum risus, turpis sed
        imperdiet massa ac a. Aenean erat entesque ut feugiat dignissim integer </p>
      <a href="#services" class="btn btn-lg btn-danger my-2 my-sm-0 w-50" >Voir nos offres</a>
    </article>
    <img src="assets/img/header-boat.svg" class="">
  </section>

  <!-- Section services -->
  <section id="services" class="p-5">
    <h2 class="mb-5">Nos services</h2>
    <p class="w-50 mb-5">A peep at some distant orb has power to raise and purify our thoughts like a strain of sacred
      music, or a noble picture, or a passage from the grander poets. It always does one good.</p>
    <ul class="d-flex justify-content-around row">
      <li class="list-unstyled col">
        <img class="" src="assets/img/bateau.svg">
        <h3>Envoi de marchandises</h3>
        <p class="">Expedition vers l’international et la France</p>
      </li>
      <li class="list-unstyled col">
        <img class="" src="assets/img/carte.svg">
        <h3>Suivi des expéditions</h3>
        <p class="">Formed a great hindrance to my speed, contrary to my first</p>
      </li>
      <li class="list-unstyled col">
        <img class="" src="assets/img/carton.svg">
        <h3>Stockage</h3>
        <p class="">Great hindrance to my speed resolved, contrary to my first intention</p>
      </li>
    </ul>
  </section>

  <!-- Section projet -->
  <section id="projet" class="d-flex justify-content-around p-5"
    style="background-image: url('assets/img/background.png'); background-repeat: no-repeat; background-size: cover;">
    <img class="" src="assets/img/image-voilier.png" alt="voilier">
    <ul class="w-50">
      <h2 class="pt-5 pb-5">Le projet</h2>
      <li class="list-unstyled col pb-3">I shall see the face of Mars, anyhow, and that will be a rare experience. It
        seems to me that a view of the heavenly bodies through a fine telescope, as well as a tour round the world,
        should form a part of a liberal education.</li>
      <li class="list-unstyled col pb-3">I shall see the face of Mars, anyhow, and that will be a rare experience. It
        seems to me that a view of the heavenly bodies through a fine telescope, as well as a tour round the world,
        should form a part of a liberal education.</li>
      <li class="list-unstyled col pb-3">I shall see the face of Mars, anyhow, and that will be a rare experience. It
        seems to me that a view of the heavenly bodies through a fine telescope, as well as a tour round the world,
        should form a part of a liberal education.</li>
    </ul>
  </section>

  <!-- Section valeurs -->
  <section id="valeurs" class="p-5"
    style="background-image: url('assets/img/background-2.png'); background-repeat: no-repeat; background-size: cover;">
    <h2 class="text-center">Nos Valeurs</h2>
    <ul class="d-flex justify-content-around row p-5">
      <li class="list-unstyled col">
        <img class="pb-3" src="assets/img/developpement-durable.svg">
        <h3>Développement durable</h3>
        <p class="pb-5">Expedition vers l’international et la France</p>
      </li>
      <li class="list-unstyled col">
        <img class="pb-3" src="assets/img/fiable.svg">
        <h3>Fiabilité</h3>
        <p class="pb-5">Formed a great hindrance to my speed, contrary to my first</p>
      </li>
      <li class="list-unstyled col">
        <img class="pb-3" src="assets/img/unique.svg">
        <h3>Unique</h3>
        <p class="pb-5">Great hindrance to my speed resolved, contrary to my first intention</p>
      </li>
    </ul>
  </section>

  <!-- Section contact -->
  <section id="contact" class="m-5 p-5 bg-light text-light row" style="background-image: url('assets/img/background-contact.png'); background-repeat: no-repeat; background-size: cover;">
    <article class="col pb-5">
      <h2 class="pb-5 pt-5">Contactez-nous !</h2>
      <p class="w-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit egestas tristique nunc purus massa sagittis. Vitae pretium, quam aenean amet. Id libero pharetra urna aliquet faucibus. condimentum neque nisl tristique eget. Malesuada egestas varius adipiscing sed tellus posuere. Tempus mauris nunc, tortor nibh at tincidunt imperdiet neque vitae. </p>
      <p class="w-75">Ut quam pharetra tellus tempor scelerisque et neque, porttitor nulla. Non diam donec venenatis libero. Nibh blandit nunc nunc, auctor tellus in in quisque malesuada. Platea mattis tincidunt scelerisque quam sem leo accumsan, massa.</p>
    </article>
      <form class=" p-5 col-2 bg-light rounded d-flex flex-column justify-content-around w-50">
        <div class="mb-3">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="name" placeholder="Nom">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="tel" placeholder="Telephone">
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="tel" placeholder="Email">
        </div>
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" placeholder="Message"></textarea>
        </div>
        <div>
          <input class="btn btn-lg btn-danger my-2 my-sm-0 w-50" type="submit">
        </div>
    </form>
  </section>
</main>
<app-footer></app-footer>