.trip {
  background-color: #fafbff;
}
.dashboard-page {
  display: flex;
}
.separation {
  padding: 1rem;
  border-bottom: 1px solid #EEEEEE;
}
.icon {
  width: 2rem;
  height: auto;
}
.dollar {
  width: 1rem;
  height: auto;
  margin-left: .5rem;
}