<nav class="dashboard-nav">
  <div class="dashboard-nav__profil">
    <img class="dashboard-nav__rounded" src="assets/icons/dashboard-user.svg" alt="">
    <h2 class="dashboard-nav__name">{{user?.username}}</h2>
    <p class="dashboard-nav__mail">{{user?.email}}</p>
  </div>
  <div class="dashboard-nav__profil py-5">
    <a class="dashboard-nav__link d-block" routerLink="/dashboard" routerLinkActive="active"><img
        class="dashboard-nav__icon" src="assets/icons/user-square.svg" alt="">
      Mon profil</a>
  </div>
  <ul class="dashboard-nav__list">
    <li class="dashboard-nav__item">
      <a class="dashboard-nav__link" routerLink="/dashboard/trips" routerLinkActive="active"><img
          class="dashboard-nav__icon" src="assets/icons/directions_boat_24px.png" alt="">
        Liste des trajets</a>
    </li>
    <li class="dashboard-nav__item">
      <a class="dashboard-nav__link" routerLink="/dashboard/merch" routerLinkActive="active"><img
          class="dashboard-nav__icon" src="assets/icons/ad-product.svg" alt="">
        Marchandises</a>
    </li>
    <li class="dashboard-nav__item">
      <a class="dashboard-nav__link" routerLink="/dashboard/maps" routerLinkActive="active"><img
          class="dashboard-nav__icon" src="assets/icons/Heart.svg" alt="">
        Carte des transports</a>
    </li>
    <li class="dashboard-nav__item">
      <a class="dashboard-nav__link" routerLink="/dashboard/paiement" routerLinkActive="active"><img
          class="dashboard-nav__icon" src="assets/icons/Category.svg" alt=""> Paiement</a>
    </li>
  </ul>
  <div class="dashboard-nav__credit">
    <a class="btn btn-secondary" routerLink="/logout">Se déconnecter</a>
    <p>FerrySail</p>
  </div>

</nav>