<nav>
    <div>
        <img src="/src/assets/user-profil.png" alt="">
        <h2>User Name</h2>
    </div>
    <ul>
        <li>
            <a routerLink="/dashboard/trips" routerLinkActive="active">Trajets</a>
        </li>
        <li>
            <a routerLink="/dashboard/merch" routerLinkActive="active">Marchandises</a>
        </li>
        <li>
            <a routerLink="/dashboard/maps" routerLinkActive="active">Transport</a>
        </li>
        <li>
            <a routerLink="/dashboard/paiement" routerLinkActive="active">Paiement</a>
        </li>
    </ul>
    <div>
        <a routerLink="/profile">Profil</a>
    </div>

</nav>