<div class="dashboard-page">
  <app-navbar></app-navbar>
  <div class="dashboard-content trips d-flex flex-column gap-5 h-100">
    <div class="dashboard-content__heading">
      <app-head class="w-100"></app-head>
    </div>

    <section class="d-flex flex-column gap-5 rounded-3">
      <header class="d-flex flex-row justify-content-between">
        <h3 class="fs-2 fw-bold align-self-lg-start">Mes trajets</h3>
        <section class="d-flex flex-row gap-3">
          <input
            class="fs-6 form-control flex-auto"
            type="text"
            name="search"
            id="search"
            placeholder="Rechercher"
          />
          <button class="btn btn-danger w-50">Voir les trajets</button>
        </section>
      </header>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="fs-6 text-secondary">Trajet</th>
            <th scope="col" class="fs-6 text-secondary">
              Date de départ / date d'arrivée
            </th>
            <th scope="col" class="fs-6 text-secondary">Poids disponible</th>
            <th scope="col" class="fs-6 text-secondary">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trip of trips$">
            <td>
              <section class="d-flex flex-column justify-content-between h-100">
                <header>
                  <h4 class="fs-5">Trajet 1 - Nom bateau</h4>
                </header>

                <p class="fs-6 text-secondary">La Rochelle - Irlande</p>
              </section>
            </td>
            <td class="fs-5 align-middle">04 avril 2022 - 10 avril 2022</td>
            <td class="fs-5 align-middle">100 kg</td>
            <td class="fs-5 align-middle">{{ trip.state }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
