<div class="dashboard-page">
    <app-navbar></app-navbar>
    <div class="dashboard-content trips d-flex flex-column justify-content-between h-100">
        <div class="row p-5">
            <!-- Section trajet -->
            <section class="bg-light p-5 col">
                <h2 class="pl-5">Votre trajet</h2>
                <img class="py-5" class="dashboard-checkout__img" src="assets/img/image-voilier.png" alt="voilier">
                <ul class="pl-5">
                    <li class="list-unstyled">
                        <h3 class="fs-4">Point de départ</h3>
                        <p>La Rochelle</p>
                    </li>
                    <li class="list-unstyled">
                        <h3 class="fs-4">Point d'arrivée</h3>
                        <p>Ireland</p>
                    </li>
                    <li class="list-unstyled">
                        <h3 class="fs-4">Date de départ</h3>
                        <p class="pb-5">10 Avril 2022</p>
                    </li>
                </ul>
                <ul>
                    <h3>Marchandises</h3>
                    <li class="list-unstyled">
                        <h3 class="fs-4">Type</h3>
                        <p>bouteille de vin</p>
                    </li>
                    <li class="list-unstyled">
                        <h3 class="fs-4">Quantité</h3>
                        <p>250</p>
                    </li>
                    <li class="list-unstyled">
                        <h3 class="fs-4">Prix</h3>
                        <p>150€</p>
                    </li>
                </ul>

            </section>

            <!-- Section paiement -->
            <section class="p-5 col">
                <h2 class="pb-5">Détails du paiement</h2>
                <article class="d-flex row">
                    <div class="form-check col">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"
                            checked>Carte
                        de crédit
                        <label class="form-check-label" for="radio1"></label>
                    </div>
                    <div class="form-check col">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Paypal
                        <label class="form-check-label" for="radio2"></label>
                    </div>
                </article>
                <article class="credit-card">
                    <!-- Formulaire de paiement-->
                    <div class="container">
                        <form class="form-horizontal" role="form">
                            <fieldset>
                                <legend class="pt-5 fs-3">Paiement</legend>
                                <div class="form-group pb-3">
                                    <label class="col-sm-3 control-label pb-3" for="card-holder-name">Nom</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="card-holder-name"
                                            id="card-holder-name" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="form-group pb-3">
                                    <label class="col-sm-3 control-label pb-3" for="card-number">Numéro de carte</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="card-number" id="card-number"
                                            placeholder="Numéro de carte de crédit">
                                    </div>
                                </div>
                                <div class="form-group pb-3">
                                    <label class="col-sm-3 control-label pb-3" for="expiry-month">Date
                                        d'expiration</label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-xs-3 pb-3">
                                                <select class="form-control col-sm-2" name="expiry-month"
                                                    id="expiry-month">
                                                    <option>Mois</option>
                                                    <option value="01">Jan (01)</option>
                                                    <option value="02">Feb (02)</option>
                                                    <option value="03">Mar (03)</option>
                                                    <option value="04">Apr (04)</option>
                                                    <option value="05">May (05)</option>
                                                    <option value="06">June (06)</option>
                                                    <option value="07">July (07)</option>
                                                    <option value="08">Aug (08)</option>
                                                    <option value="09">Sep (09)</option>
                                                    <option value="10">Oct (10)</option>
                                                    <option value="11">Nov (11)</option>
                                                    <option value="12">Dec (12)</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <select class="form-control" name="expiry-year">
                                                    <option value="22">2022</option>
                                                    <option value="23">2023</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" pb-3 col-sm-3 control-label" for="cvv">CVV</label>
                                    <div class="col-sm-3 pb-3">
                                        <input type="text" class="form-control pb-3" name="cvv" id="cvv"
                                            placeholder="Code de sécurité">
                                    </div>
                                </div>
                                <div class="form-check col pb-3">
                                    <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                        value="option2">Accepter les conditions générales de vente
                                    <label class="form-check-label" for="radio2"></label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9 pb-3">
                                        <button type="button" class="btn btn-danger">Régler</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- Fin du formulaire de paiement-->
                </article>

                <article class="col p-5">
                    <p class="row fs-4">Nous acceptons les cartes suivantes :</p>
                    <img class="row p-5" src="assets/img/background-contact.png">
                    <button type="button pl-5" class="btn btn-light btn-lg">Imprimer la facture</button>
                </article>

            </section>
        </div>
    </div>
</div>