<form [formGroup]="form" (ngSubmit)="login()">
  <label for="username">Nom d'utilisateur</label>
  <input type="text" formControlName="username" name="username" id="username" />

  <label for="password">Mot de passe</label>
  <input
    type="password"
    formControlName="password"
    name="password"
    id="password"
  />

  <button color="primary" type="submit">Connexion</button>

  <p *ngIf="form.dirty || form.touched">
    <span *ngIf="form.get('username')?.hasError('required')">
      Le nom d'utilisateur est obligatoire.
    </span>
    <span *ngIf="form.get('password')?.hasError('required')">
      Le mot de passe est obligatoire.
    </span>
    <span *ngIf="form.get('password')?.hasError('minlength')">
      Le mot de passe doit comporter au moins 6 caractères.
    </span>
  </p>
</form>
