<div class="dashboard-page">
    <app-navbar></app-navbar>
    <div class="dashboard-content">
        <h1 class="dashboard-content__title"> Bonjour, </h1>
        <div class="dashboard-content__heading">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="assets/img/dashboard-boat.png" alt="">
                    <div class="dashboard-content__stats">
                        <p class="dashboard-content__stat-name">Trajets effectués</p>
                        <p class="dashboard-content__stat-num">7</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="assets/img/dashboard-date.png" alt="">
                    <div class="dashboard-content__stats">
                        <p class="dashboard-content__stat-name">Prochain Trajet</p>
                        <p class="dashboard-content__stat-num">19/03</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="assets/img/dashboard-stuff.png" alt="">
                    <div class="dashboard-content__stats">
                        <p class="dashboard-content__stat-name">Total marchandise</p>
                        <p class="dashboard-content__stat-num">56KG</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-content__trips">
            <div class="dashboard-content__trips-heading">
                <h2>La liste de mes trajets</h2>
                <button type="button" class="btn btn-danger">Voir les trajets</button>

            </div>

            <div class="dashboard-content__trips-list">

            </div>
        </div>
    </div>